.gallery-wrapper {
    margin: 42px 0px 150px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
   

    .image-card.products-page {
        width: 25%;
        min-height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid #555; 
        border-bottom: 1px solid #555;
        border-top: none;
        position: relative;

        .image-info {

            .info-top {
                gap: 25px;
                padding-left: 10px;
              
                h3 {
                    font-size: 16px;
                }
                p {
                    font-size: 16px;
                }
            }
            .info-middle {
                padding-left: 10px;
              
                span {
                    font-size: 16px;
                }
            }
            .info-bottom {
                padding-left: 10px;
              
                p {
                    font-size: 16px;
                }
            }
        }
    }

    
    .image-card:hover .info-bottom {
        color: #000;
    }
}