.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    min-height: 90vh;

    .login-box {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 40px 20px;

        h3 {
            text-transform: uppercase;
        }


        form {
            background-color: red;
            width: 100%;

            input {
                width: 100%;
                padding: 20px;
            }
        }

        button {
            width: 100%;
            padding: 20px;
            cursor: pointer;
            border: none;
            background-color: rgba(0, 0, 0, 1);
            color: rgba(255, 255, 255, 1);
            border: 1px solid black;
            transition: 0.5s ease;
            text-transform: uppercase;
        }
        button:hover {
            background-color: blue;
        }

        .line-container {
            width: 100%;
            display: flex;
            align-items: center;

            .line {
                flex: 1;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.15);
                margin: 0 10px; /* Adjust the spacing between "or" and the lines as needed */
              }

            h6 {
                font-size: 16px;
                text-transform: uppercase;
            }
        }
          

    }
}