.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    z-index: 12;
    width: 100%;
    margin-top: -50px;
    // box-shadow: 0px 7px 10px -10px #111;
    transition-timing-function: ease-in-out;
    transition: 0.4s;
    border-bottom: 1px solid #555;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

    .nav-wrapper {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
     

        .item {
            display: flex;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 0.7px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: large;
            width: 33.3%;
        }
        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            letter-spacing: 2px;
            width: 33.3%;
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 33.3%;
            gap: 10px;
        }

        .icon-button {
            --button-size: calc(var((--nav-size) * 0.5 ));
            width: var(--button-size);
            height: var(--button-size);
            background-color:  rgb(72, 74, 77);
            border-radius: 50%;
            padding: 5px;
            margin: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 300ms;
            color: #FFF;
            cursor: pointer;
            position: relative;

            span {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 12px;
                background-color: red;
                right: -8px;
                top: -5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .icon-button:hover {
            filter: brightness(1.3);
        }
    }
}