@import '~normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Libre Franklin', sans-serif;

    .link {
        color: #000;
        text-decoration: none;
        line-height: 1; 
        display: flex;
        align-items: center;
        justify-content: center;   
    }
}