.singleProduct {
    display: flex;
    justify-content: flex-end;
    margin-top: 49.5px;
    position: relative;
    
    .left {
        background-color: plum;
        position: fixed;
        left: 0;
        width: 50%;
        transition: 0.7s ease-in-out;

        div {
            border-bottom: 1px solid #555;
            display: flex;
            align-items: center;
            padding: 10px;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: rgba(19, 19, 19, 1);
            color: #FFF;
            cursor: pointer;
        }

        .shipping-wrapper {

            ul {

                li {
                    margin-top: 10px;
                }
            }
        }
    }
    
    .right {
        width: 50%;
        border: 1px solid #555;
        border-bottom: none;
        img {
            width: 100%;
            border-bottom: 1px solid #555;
        }
        img:last-child {
            border-bottom: none;
        }
        
    }

}
.category-grid {
    height: 100vw;
    width: 100%;
    border: 1px solid #555;
}
